DATABASE_URL="file:./dev.db"
JWT_SECRET=uneg-link-secret-key-2026
CF_ACCOUNT_ID=
CF_API_TOKEN=
TURSO_DATABASE_URL=libsql://tu-db.turso.io
TURSO_AUTH_TOKEN=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@uneglink.com
BASE_URL=http://localhost:5173
